<?xml version="1.0" encoding="UTF-8"?>
<suite name="WebDriver">
	<test name="test">
		<classes>
			<class name="TestNG.NewMavenTest1">
				<methods>
	                <include name = "searchTransaction"/>
	                <include name = "openShopAndCreateQuotation"/> 
	                <include name = "openShopAndCreateOrder"/> 
	            </methods>
			</class>
		</classes>
	</test>
</suite>